In [6]:
import pandas as pd
from IPython.display import display
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
from matplotlib import gridspec
%matplotlib inline

from matplotlib import font_manager, rc
font_path='c:/Windows/Fonts/malgun.ttf'
font_name= font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font_name)

import matplotlib
matplotlib.rcParams['axes.unicode_minus'] = False

In [7]:
DIR_DATA = './AIFrenz_Season1_dataset/'
DIR_TRAIN = DIR_DATA + 'train.csv'
DIR_TEST = DIR_DATA + 'test.csv'

In [8]:
train = pd.read_csv(DIR_TRAIN)

print(train.shape)
display(train.head())

(4752, 60)

,id,X00,X01,X02,X03,X04,X05,X06,X07,X08,...,Y09,Y10,Y11,Y12,Y13,Y14,Y15,Y16,Y17,Y18
0,0,9.7,988.8,1.2,0.6,0.0,1009.3,989.6,12.2,1009.9,...,7.0,7.5,7.0,9.0,10.0,9.5,9.0,8.0,9.0,NaN
1,1,9.3,988.9,1.7,1.9,0.0,1009.3,989.6,12.1,1010.0,...,6.5,7.5,7.0,8.5,10.0,9.5,9.0,7.5,9.0,NaN
2,2,9.4,989.0,1.1,2.3,0.0,1009.2,989.7,12.1,1010.1,...,6.5,7.5,6.5,8.0,9.5,9.5,8.5,7.5,8.5,NaN
3,3,9.4,988.9,1.5,0.7,0.0,1009.2,989.6,12.0,1010.0,...,6.0,7.0,6.0,8.0,9.5,9.0,8.5,7.5,8.5,NaN
4,4,9.2,988.9,0.8,1.7,0.0,1009.2,989.7,12.0,1010.1,...,6.0,7.0,6.0,7.5,9.5,9.0,8.5,7.5,8.5,NaN

In [9]:
test = pd.read_csv(DIR_TEST)

print(test.shape)
display(test.head())

(11520, 41)

,id,X00,X01,X02,X03,X04,X05,X06,X07,X08,...,X30,X31,X32,X33,X34,X35,X36,X37,X38,X39
0,4752,18.7,987.4,1.5,1.3,0.0,1006.8,987.7,21.1,1007.5,...,91.4,17.5,19.2,1007.6,0.0,194.7,0.0,84.0,59.9,0.0
1,4753,18.8,987.4,1.1,1.2,0.0,1006.7,987.7,21.2,1007.5,...,91.6,17.4,19.1,1007.5,0.0,173.1,0.0,84.0,60.5,0.0
2,4754,19.0,987.4,1.3,1.2,0.0,1006.6,987.6,21.2,1007.4,...,92.0,17.2,19.0,1007.5,0.0,208.6,0.0,85.0,60.8,0.0
3,4755,18.7,987.4,2.3,0.8,0.0,1006.6,987.6,21.1,1007.4,...,93.0,17.2,18.8,1007.4,0.0,185.0,0.0,85.8,61.2,0.0
4,4756,18.4,987.4,1.1,0.7,0.0,1006.7,987.7,20.9,1007.5,...,92.3,17.4,18.9,1007.5,0.0,162.8,0.0,87.3,61.7,0.0

In [10]:
Temperature = ['X00', 'X07', 'X28', 'X31', 'X32']
localP = ['X01', 'X06', 'X22', 'X27', 'X29']
windV = ['X02', 'X03', 'X18', 'X24', 'X26']
rain = ['X04', 'X10', 'X21', 'X36', 'X39']
seaP = ['X05', 'X08', 'X09', 'X23', 'X33']
solar = ['X11', 'X14', 'X16', 'X19', 'X34']
humi = ['X12', 'X20', 'X30', 'X37', 'X38']
windD = ['X13', 'X15', 'X17', 'X25', 'X35']
sensor = ['Y00', 'Y01', 'Y02', 'Y03', 'Y04',
          'Y05', 'Y06', 'Y07', 'Y08', 'Y09', 
          'Y10', 'Y11', 'Y12', 'Y13', 'Y14', 
          'Y15', 'Y16', 'Y17']

In [14]:
X_train = train.loc[:, 'X00':'X39']

print(X_train.shape)
display(X_train.head())

(4752, 40)

,X00,X01,X02,X03,X04,X05,X06,X07,X08,X09,...,X30,X31,X32,X33,X34,X35,X36,X37,X38,X39
0,9.7,988.8,1.2,0.6,0.0,1009.3,989.6,12.2,1009.9,1009.8,...,69.1,8.2,10.7,1010.1,0.0,256.4,0.0,77.2,62.6,0.0
1,9.3,988.9,1.7,1.9,0.0,1009.3,989.6,12.1,1010.0,1009.9,...,70.3,8.3,10.3,1010.1,0.0,215.4,0.0,77.3,63.5,0.0
2,9.4,989.0,1.1,2.3,0.0,1009.2,989.7,12.1,1010.1,1010.1,...,71.5,8.0,9.7,1010.0,0.0,235.2,0.0,77.3,63.9,0.0
3,9.4,988.9,1.5,0.7,0.0,1009.2,989.6,12.0,1010.0,1010.0,...,73.2,7.7,9.4,1010.1,0.0,214.0,0.0,77.5,64.5,0.0
4,9.2,988.9,0.8,1.7,0.0,1009.2,989.7,12.0,1010.1,1010.0,...,74.3,7.4,9.4,1010.1,0.0,174.9,0.0,78.0,65.0,0.0

In [15]:
144*30-18

4302